body {
    width: 286px;
    margin: 0px;
    background: #2D2D2D;
}

h1 {
    display: block;
    /* position: absolute; */
    width: 170.97px;
    height: 44.54px;
    /* left: 27px;
    top: 18px; */
    margin-bottom: 5px; 

    font-family: 'Futura';
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 39px;

    color: #C4C4C4;
}

span {
    color: #C4C4C4;
}

h2 {
    color: #C4C4C4;
}

div.favorites{
    color: #C4C4C4;
}

input{
    background-color: #393939;
    color: #C4C4C4;
}

button {
    margin-top: 4px;
    width: 150px;
    background-color: #393939;
    color: #C4C4C4;
}

.disable {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.transparencyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .transparencyWrapper span{
    margin-right: 6px;
} */

.urlWrapper {
    display: none;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.urlWrapper input {
    width: 100%;
}

.previewGif, #currentURLPreview {
    width: 100px;
    height: 100px;
}

.favorites button {
    width: 100px;
    height: 22px;
}

.root_div, .image {
    width: 100%;
    height: 100%;
}

div.title{
    position: absolute;
    width: 259px;
    height: 24px;
    left: 27px;
    top: 21px;
}

div.back_button{
    position: absolute;
    width: 31px;
    height: 29px;
    left: 0px;
    top: 16px;  /* had to trial and error this, for some reason figma value was off*/
}

div.background_for_title{
    position: absolute;
    width: 286px;
    height: 51px;
    left: 0px;
    top: 0px;
}

div.characterButton{
    position: absolute;
    width: 99px;
    height: 95px;
    left: 29.28px;
    top: 80px;
}

div.audioButton{
    position: absolute;
    width: 99.87px;
    height: 95.84px;
    left: 158px;
    top: 79px;
}

div.masterVolume{
    position: absolute;
    width: 23.17px;
    height: 23.17px;
    left: 256px;
    top: 22px;
}

.preview{
    margin-top: 13px;
    width: 286px;
    height: 159px;
    display: flex;
}

.previewFrame{
    position: relative;
    left: 26.5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 172px;
    height: 159px;


    background: #393939;
    border-radius: 10px;
}

#currentURLPreview{
    width: 128px;
    height: 158px;
}

.slider{
    -webkit-appearance: none;
    width: 145px;
    height: 4px;
    background: linear-gradient(90deg, #6E97FF 60%, #393939 60%);
    border-radius: 38.4459px;
    opacity: 0.75;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17.08px;
    height: 17.08px;
    background: #6E97FF;
    border: 2.10855px solid #2D2D2D;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32.0499px;
} 

.arrow {
    width: 31px;
    height: 29px;
    position: relative;
}

#left_arrow {
    left: 33px;
    top: 64px
}

#right_arrow {
    left: 20px;
    top: 64px
}

